


<div class="row">

    <div class="col-sm-3">


<div class="card p-3" style="width: 18rem;">
    <img src="assets/Images/House01.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{Property.Name}}</h5>
     
   
      <h3>{{Property.Type}}</h3>
      <h3>{{Property.Price}}</h3>
    </div>
  </div>

</div>

<div class="col-sm-3">


    <div class="card p-3" style="width: 18rem;">
        <img src="assets/Images/House02.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{Property.Name}}</h5>
         
       
          <h3>{{Property.Type}}</h3>
          <h3>{{Property.Price}}</h3>
        </div>
      </div>
    
    </div>

    



    <div class="col-sm-3">


        <div class="card p-3" style="width: 18rem;">
            <img src="assets/Images/House01.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{Property.Name}}</h5>
             
           
              <h3>{{Property.Type}}</h3>
              <h3>{{Property.Price}}</h3>
            </div>
          </div>
        
        </div>

        <div class="col-sm-3">


            <div class="card p-3" style="width: 18rem;">
                <img src="assets/Images/House02.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{Property.Name}}</h5>
                 
               
                  <h3>{{Property.Type}}</h3>
                  <h3>{{Property.Price}}</h3>
                </div>
              </div>
            
            </div>


</div>
<div class="row">


  




 